.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 1.5rem 10vw;
}
.bloc_title {
    background-color: #009cff;
    width: 100vw;
    padding: 1.5rem 10vw;
    text-align: center;
}
.bloc_01{
    display: flex;
    flex-direction: row;
    text-align: right;
}
.description {
    flex : 3;
}
.button_01 {
    flex : 1;
}
.card_bloc{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.table{
    width: 100%;
}