.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 10vw;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}
.bloc{
    border: 1px solid #a2a2a9;
    border-radius: 5px;
    padding: 15px;
    height: 20vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.bloc:hover{
    background-color: #88aac1;
}
.bloc:active{
    height: 21vh;
    width: 16vw;
    background-color: #313539;
    color: #e3e3e3;
}